@import '~@angular/material/theming';

.page {
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    overflow: auto;
    top: 40px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: inherit;
}

jsmon-header {
    @include mat-elevation(1);
    margin-bottom: 5px;
}