@import '~@angular/material/theming';

:host {
    display: block;
    min-width: 30vw;
    width: 30vw;
    overflow:hidden;
}

@mixin device-command-dialog-theme($theme) {
    $warn: map-get($theme, warn);
    
    .command-error {
        //background-color: mat-color($warn, lighter);
        border: 1px solid mat-color($warn, default);
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    :host {
        min-width: 65vw;
        width: 65vw;
        max-height: 50vh;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    :host {
        min-width: 65vw;
        width: 65vw;
        max-height: 50vh;
    }
}

.action-buttons {
    padding-top: 10px;
    display: block;
    border-top: 1px solid lightgray;
    text-align: right;
}

.form-content {
    mat-form-field {
        width: 100%;
    }
    overflow: auto;
    padding: 5px;
}

.command-error {
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 3px;
}

mat-progress-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}