<h3>{{_title}}</h3>
<h4 *ngIf="_config.command.shortDescription !== ''">{{_config.command.shortDescription}}</h4>
<form ngForm #form="ngForm" (ngSubmit)="_execute()">
  <div class="form-content">
    <mat-error *ngIf="_errorMessage !== ''" class="command-error">
      {{_errorMessage}}
    </mat-error>
    <mat-progress-spinner color="accent" diameter="20" mode="indeterminate" *ngIf="_executing"></mat-progress-spinner>

    <div *ngFor="let param of _parameters">
      <mat-form-field>
        <input *ngIf="param.types[0] === 'STRING'" name="{{param.name}}"
          matInput
          type="text"
          [(ngModel)]="model[param.name]"
          placeholder="{{param.displayName}}"
          [required]="!param.optional">
        
        <input *ngIf="param.types[0] === 'NUMBER'" name="{{param.name}}"
          matInput
          type="number"
          [(ngModel)]="model[param.name]"
          placeholder="{{param.displayName}}"
          [required]="!param.optional">
        
        <mat-checkbox *ngIf="param.types[0] === 'BOOLEAN'" name="{{param.name}}"
          matInput
          type="number"
          [(ngModel)]="model[param.name]"
          [required]="!param.optional">{{param.displayName}}</mat-checkbox>
          
      </mat-form-field>
    </div>
  </div>

  <div class="action-buttons">
    <button mat-button type="submit" [disabled]="form.invalid">EXECUTE</button>
  </div>

</form>