:host {
    display: block;
    padding: 2px;
    overflow: hidden;
    
    transition: opacity 500ms ease-in-out;
}

.sensor {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.sensor-name {
    margin-right: 10px;
    font-weight: lighter;
}

.sensor-value {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
    opacity: 0.6;
}

mat-card-title {
    font-weight: lighter;
    text-decoration: underline;

}

mat-card-header {
    mat-icon {
        position: absolute;
        right: 10px;
        cursor: pointer;
        
        &:hover {
            color: gray;
        }
    }
}