<mat-card>
  <mat-card-header>
    <mat-icon *ngIf="device.commands.length > 0" [matMenuTriggerFor]="commands">more_vert</mat-icon>
    <mat-card-title>{{device?.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="device?.description !== ''">{{device?.description}}</mat-card-subtitle>
    
  </mat-card-header>
  
  <mat-card-content>
    <mat-progress-spinner color="accent" diameter="20" mode="indeterminate" *ngIf="_firstLoad"></mat-progress-spinner>
    
    <p class="sensor" *ngFor="let sensor of _sensors; trackBy: _trackSensor">
      <span class="sensor-name">{{sensor.displayName}}</span>
      <span class="sensor-value">{{_formatValue(sensor.value, sensor)}}{{!!sensor.value ? sensor.unit : ''}}</span>
    </p>
  </mat-card-content>
</mat-card>

<mat-menu #commands>
  <button mat-menu-item *ngFor="let cmd of _commands" (click)="_executeCommand(cmd)">{{cmd.displayName}}</button>
</mat-menu>