@import '~@angular/material/theming';

$jsmon-light-red-primary: mat-palette($mat-red);
$jsmon-light-red-accent:  mat-palette($mat-blue-grey);
$jsmon-light-red-warn:    mat-palette($mat-orange);
$jsmon-light-red-theme: mat-light-theme($jsmon-light-red-primary, $jsmon-light-red-accent, $jsmon-light-red-warn);
$jsmon-dark-red-theme: mat-dark-theme($jsmon-light-red-primary, $jsmon-light-red-accent, $jsmon-light-red-warn);

$jsmon-light-blue-primary: mat-palette($mat-blue);
$jsmon-light-blue-accent:  mat-palette($mat-indigo);
$jsmon-light-blue-warn:    mat-palette($mat-red);
$jsmon-light-blue-theme: mat-light-theme($jsmon-light-blue-primary, $jsmon-light-blue-accent, $jsmon-light-blue-warn);
$jsmon-dark-blue-theme: mat-dark-theme($jsmon-light-blue-primary, $jsmon-light-blue-accent, $jsmon-light-blue-warn);

